<a href="https://colab.research.google.com/github/Dannais/sales_predictions/blob/main/Old_Car_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Importar las bibliotecas
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [7]:
# Cargar el conjunto de datos
filename = '/content/drive/MyDrive/Cursos Data Science/Coding Dojo/2. Machine Learning/0. Fuente de Datos/car_price.csv'
df = pd.read_csv(filename)
df.head()

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats

# **Detalle de la fuente de datos**

**1) Fuente de datos**

Se obtuvo la fuente mediante la plataforma Kaggle.

Fuente: https://www.kaggle.com/datasets/milanvaddoriya/old-car-price-prediction

**2) Breve descripción de datos**

La fuente de datos contiene información a detalle de carros antiguos y su precio respectivo.

**3) ¿Cuál es el objetivo?**

* Analizar los datos de investigación.
* Entrenar la fuente para obtener resultados valiosos

**4) ¿Este es un problema de clasificación o regresión?**

Es un problema de regresión, ya que necesitamos predecir los precios de los carros antiguos

**5) ¿Cuántas características hay?**

Hay 9 características. 

**6) ¿Cuántas filas de datos hay?**

Hay 5512 filas

**7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?**

Se va a tener que eliminar las medidas estándar de los campos como, por ejemplo, 'kms' del campo kms_driven.

In [8]:
df['kms_driven'].value_counts()

80,000 kms      163
1,20,000 kms    146
60,000 kms      142
50,000 kms      136
70,000 kms      132
               ...
79,385 kms        1
51,242 kms        1
38,733 kms        1
77,385 kms        1
85,002 kms        1
Name: kms_driven, Length: 2610, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5512 non-null   int64
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   object
 3   kms_driven           5512 non-null   object
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacture          5512 non-null   int64
 8   engine               5512 non-null   object
 9   Seats                5512 non-null   object
dtypes: int64(2), object(8)
memory usage: 430.8+ KB

In [26]:
##df['kms_driven']=df['kms_driven'].str.replace(' kms','')
##df['kms_driven']=df['kms_driven'].str.replace(',','')

df['engine']=df['engine'].str.replace('cc','')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5512 non-null   int64
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   object
 3   kms_driven           5512 non-null   int64
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacture          5512 non-null   int64
 8   engine               5512 non-null   object
 9   Seats                5512 non-null   object
dtypes: int64(3), object(7)
memory usage: 430.8+ KB

In [28]:
df['engine'].value_counts()

1197     714
1248     395
998      346
1498     252
1497     245
        ...
1173       1
2359       1
5950       1
3956       1
2979       1
Name: engine, Length: 139, dtype: int64

In [29]:
df['engine'] = df['engine'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5512 non-null   int64
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   object
 3   kms_driven           5512 non-null   int64
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacture          5512 non-null   int64
 8   engine               5512 non-null   int64
 9   Seats                5512 non-null   object
dtypes: int64(4), object(6)
memory usage: 430.8+ KB